* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    max-width: 1330px;
    margin: 0 auto;
    background-color:#01101D ;
    color: #F1FFFA;
    font-size: 1rem;
}

/* body{
    background-color: #F6F7F8;
    color: #2EC4B6;
} */
.nav-bar {
    display: flex;
    position: fixed;
    inset: 5px;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: #011627;
    z-index: 10;
}
.name {
    display: flex;
    justify-content: center;
    width: 30%;
    font-size: 1.5rem;
}
.pages{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.pages a {
    color: #F1FFFA;
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px; 
}
.border:hover {
    border-radius: 5%;
    outline: 3px solid #3F4F5C;
    background-color: #3F4F5C;
    outline-offset: 3px;
}




.hero {
    height: 300px;
    width: 100%;
    margin-top: 60px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
} 
.message {
    margin-top: 80px;
    font-size: 3rem;
    width: 60%;
}
#typing-animation {
    font-size: 3.5rem;
    color: #5dad62;
}
.profile{
    width: 20%;
    padding: 20px;  
}



.about-me{
    padding: 20px;
    background-color: #0D2232;
    margin-bottom: 20px;
}




.skills-and-tool{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.skill{
    background-color: #0D2232;
    width: 55%;
}
.tool{
    background-color: #0D2232;
    align-self: self-start;
    width: 40%;
}
.skill h3{
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 10px;
    margin-left: 5px;
}
.skill,.tool{
    padding: 20px;
}
.skill-box {
    display: flex;
    margin-left: 20px;
    align-items: center;
    flex-wrap: wrap;
}
.skill p{
    margin-left: 25px ;
    margin-bottom: 15px;
}
.tool p{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: 600;
}


.project{
    padding: 20px;
    background-color: #0D2232;
    margin-bottom: 20px;
}
.project-field {
    position: relative;
    font-size: 1.5rem;
    padding:15px;
    cursor: pointer;
}
.project-field i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.project-field-dropdown {
    display: none;
    padding: 10px;  
    margin: 0px 20px 0px 20px;
}
.project-field-dropdown i{
    position: absolute;
    cursor: pointer;
}
.project-field .box i{
    right: 40px;
}
.box{
    margin-bottom: 20px;
}
.box p{
    padding:0px 20px 0px 20px;
    margin-bottom: 20px;
}









.certificate{
    padding: 20px;
    background-color: #0D2232;
    margin-bottom: 20px;
}
.cetificate-box{
    padding: 20px;
}



.education{
    padding: 20px;
    background-color: #0D2232;
    margin-bottom: 20px;
}
.education-field{
    padding-top: 20px;
    display: flex;
    text-align: center; 
    
    justify-content: space-evenly;
}
.education-box{
    width: 30%;
    font-size: 0.9rem;
}
.education-box p{
    margin-bottom: 10px;
}



.question{
    background-color: #0D2232;
    margin-bottom: 20px;
    margin-left: 25%;
    width: 50%;
    padding: 20px;
}
.message-box {
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
form{
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}
label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 20px;
}
input, textarea  {
    margin-bottom: 15px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
}
button {
    padding: 10px;
    background-color: #8bfc89;
    color: F1FFFA;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    align-self: center;
    margin-top: 10px;
    width: 50%;
}
button:hover {
    background-color: #45fc42;
}




.contact{
    padding: 20px;
    margin-bottom: 20px;
    background-color: #0D2232;
}
.contact-box{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}
.contact a{
    text-decoration: none;
    color: #F1FFFA;
}
.contact p{
    text-align: center; 
    margin-bottom: 20px;
}




h2{
    color: #5dad62;
    text-align: center;
}
hr{ 
    padding-bottom: 2px;
    text-align: center;
    margin-bottom: 10px; 
    margin-top: 10px; 
    background-color: #DDD1C7;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: white;
}
::-webkit-scrollbar-thumb {
    background-color:#0D2232 ;
}